* {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
}

main {
  height: 100vh;
  box-sizing: border-box;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}

nav .model-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 18px;
  color: rgb(185, 185, 185);
  font-weight: 600;
}
nav .model-bar > div, nav .model-bar > svg {
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
}
nav .model-bar > div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
nav .model-bar > div:hover, nav .model-bar > svg:hover {
  background-color: #2F2F2F;
}


nav .model-bar span:last-of-type {
  font-size: 12px;
}

nav img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  box-sizing:border-box;
}

nav > div:last-child {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > div:last-child:hover {
  cursor: pointer;
  background-color: rgb(59, 59, 59);
}



/*CHAT BAR*/
.chat-bar {
  position: relative;
  background-color: #242424;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

}


/*PROFILE DIV*/
.chat-bar .models, .chat-bar .profile  {
  position: absolute;
  padding: 10px;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 20px;
  width: 230px;
  background-color: #2F2F2F;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 12;

}
.chat-bar .profile {
  right: 0;
  top: 0;
}
.chat-bar .profile div {
  padding: 10px 15px;
  border-radius: 7px;
}
.chat-bar .profile div:hover{
  background-color:#424242;
  cursor: pointer;
}
hr {
  border: none;
  border-top: 1px solid rgb(79, 79, 79);
  margin-top: 3px;
  margin-bottom: 3px;
}

.chat-bar .profile svg {
  margin-right: 10px;
}


/*MODEL DIV*/
.chat-bar .models {
  width: 320px;
  padding: 20px 20px;
  left: 0px;
  top: 0px;
}
.chat-bar .models hr {
  margin: none;
}
.models header, .models div {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding: 3px 5px;
}
.models header {
  font-size: 14px;
  color:grey;
}
.models div:hover{
  background-color: #424242;
  border-radius: 7px;
  cursor: pointer;
}
.models div {
  gap: 15px;
}
.models .model div:first-of-type svg {
  font-size: 14px;
  background-color: #424242;
  padding: 5px;
  border-radius: 100%;
}
.models > div:last-of-type svg {
  background-color: transparent !important;
}
.models .information {
  display: flex;
  flex-direction: column;
  align-items:self-start;
  gap: 0px;
}

.models .information p:first-of-type {
  font-size: 15px;
  font-weight: 500;  
}
.models .information p:last-of-type {
  font-size: 11px;
  color: rgb(177, 177, 177);
  letter-spacing: 0.6px;
}

.chat-bar .main-conversation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 40px;
  width: 75%; /* make responsive */
  overflow-y: auto;
  padding: 25px;
}
.chat-bar .main-conversation::-webkit-scrollbar {
  display: none;
}

.chat-bar .main-conversation .user-dialog {
  background-color: #2F2F2F;
  text-align: left;
  padding: 15px 25px; 
  border-radius: 25px;
  width: 75%; /*make it responsive and beatufilize*/
  margin-left: auto;
  max-width: 70%;
  width: auto;
  position: relative;
}

.chat-bar .main-conversation .user-dialog .edit-icon {
  position: absolute;
  left: -35px;
  top: 0px;
  font-size: 15px;
  color: grey;
  width: 50px;
  padding-top: 15px;
  height: 100%;
  display: none;
  box-sizing: border-box;
  justify-content: flex-start;
}
.chat-bar .main-conversation .user-dialog .edit-icon svg:hover {
  color: white;
  cursor: pointer;
}

.chat-bar .main-conversation .user-dialog .edit-icon .tooltip-text {
  right: 40%;
  top: 90%;
}

.chat-bar .main-conversation .user-dialog:hover .edit-icon {
  display: flex;
}

.chat-bar .main-conversation .assistant-dialog {
  text-align: left;
  margin-left: auto;
  position: relative;
  padding-left: 50px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}

.chat-bar .main-conversation .assistant-dialog .icon img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid grey;
  position: absolute;
  left:-10px
}

.chat-bar .main-conversation .assistant-dialog .actions{
  display: flex;
  visibility: hidden;
  align-items: center;
  opacity: 0;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgb(79, 79, 79);
  align-self: flex-start;
  border-radius: 10px;
  color: grey;
  transition: all .2s;
}
.chat-bar .main-conversation .assistant-dialog .actions svg:hover {
  color: white;
  cursor: pointer;
}

.chat-bar .main-conversation .assistant-dialog:hover .actions {
  visibility: visible;
  opacity: 1;
}

.chat-bar .main-conversation .assistant-dialog .actions .tooltip-text {
  right: -60%;
  top: 150%;
}


.checkboxes__item {
  padding: 0 !important;
}
.checkbox.style-e {
  display: inline-block;
  padding-bottom: 18px;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-e input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-e input:checked ~ .checkbox__checkmark {
  background-color: #10A37F;
}
.checkbox.style-e input:checked ~ .checkbox__checkmark:after {
  left: 21px;
}
.checkbox.style-e:hover input ~ .checkbox__checkmark {
  background-color: #424242;
}
.checkbox.style-e:hover input:checked ~ .checkbox__checkmark {
  background-color: #10A37F;
}
.checkbox.style-e .checkbox__checkmark {
  position: absolute;
  left: 0;
  height: 14px;
  width: 28px;
  background-color: #424242;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox.style-e .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.25s ease;
}
.checkbox.style-e .checkbox__body {
  color: #333;
  font-size: 16px;
  transition: color 0.25s ease;
}

/**/
.middle-logo {
  text-align: center;
  margin-bottom: 40px;
}
.middle-logo img {
  width: 60px;
}

.recommendations {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.recommendation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: self-start;
  width:140px;
  border: 1px solid #2F2F2F;
  border-radius: 12px;
  padding: 10px 14px 16px 14px;
  transition: background-color .1s;
  cursor: pointer;
}

.recommendation:hover {
  background-color: #2F2F2F;
}

.recommendation:first-child svg {
  color: #E2C441;
}
.recommendation:nth-child(2) svg {
  color: #CB8BD0;
}
.recommendation:nth-child(3) svg {
  color: #E2C441;
}
.recommendation:last-child svg {
  color: #76D0EB;
}



/*UPLOAD Button-Field*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > p {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: rgb(201, 201, 201);
}

.prompt-bar {
  background-color: #2F2F2F;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 40px;
  gap: 10px;
  padding: 4px 10px;
  width: 80%;
  max-width: 800px;
  min-width: 400px;
}

.prompt-bar > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-label{
  display: inline-block;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 20px;
}

.prompt-bar input[type=text] {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #2F2F2F;
  color: white;
  font-size: 16px;
}
.prompt-bar input[type=text]:focus {
  outline: none;
  border: none;
}

.prompt-bar button {
  width: 33px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  background-color: #6c6c6c;
  color: #2F2F2F;

  transition: background-color .1s;
}

.prompt-bar button:hover {
  cursor: pointer;
  background-color: #6c6c6c !important;
}




/*SIDEBAR*/
.sidebar {
  padding: 10px 10px;
  box-sizing: border-box;
  width: 260px;
  height: 100vh;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;

  transition: width .1s, padding .1s;
  overflow: hidden;
}

.sidebar > div {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: 60px; /* Glitch is fixed at the bottom of the element when hover*/
}

.sidebar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #B4B4B4;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-text {
  box-sizing: border-box;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 14px !important;
  padding: 5px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 120%; /* Adjust as needed */
  right: 0%;
  margin-left: -80px; /* Use half of the width to center it */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid rgb(71, 71, 71);
  font-weight: 500;
}

.tooltip-text.left {
  left: 200%;
}
.tooltip-text.small {
  width: 60px;
}

/* Tooltip arrow */
.tooltip-text::after {
  transform: rotate(180deg);
  content: "";
  position: absolute;
  top: -50%; /* At the bottom of the tooltip */
  left: 65%;
  margin-left: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}

.tooltip-text.left::after {
  left: 0%;
}
.tooltip-text.small::after {
  margin-left: 5px;

}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.sidebar header svg {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.sidebar header svg:hover {
  background-color: #212121;
}

.sidebar .gpts {
  display: flex;
  flex-direction: column;
}

.sidebar .gpt {
  display: flex;
  gap: 10px;
  padding: 7px;
  border-radius: 9px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sidebar .gpt:hover {
  background-color: #212121;
  cursor: pointer;
}

.sidebar .gpt:hover > div:last-child {
  display: inline-block;
}

.sidebar .gpt div {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.sidebar .gpt > div:last-child{
  background-color: #212121;
  padding: 2px 3px 2px 6px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  display: none;
}

.sidebar .gpt > div:last-child svg {
  margin-right: 10px;
  color: grey;
}


.sidebar .gpt span {
  display: inline-block;

  border: 1px solid rgb(79, 79, 79);
  width: 27px;
  height: 25px;
  display: flex;  
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sidebar .gpt  p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversations {
  display: flex;
  flex-direction: column;
}

.conversations .header {
  font-size: 13px;
  color: #B4B4B4;
  padding-left: 6px;
}

.conversation {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  padding: 7px 6px;
  border-radius: 5px;
  position: relative;
}

.conversation p {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  background: linear-gradient(to right, white 85%, #171717);
  -webkit-background-clip: text;
  color: transparent;
}

.conversation .edit-menu {
  background-color: #2F2F2F;
  position: absolute;
  border: 2px solid #444444;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px 8px;
  right: 0px;
  display: none;
  z-index: 2;
  display: inline-block;
}

.conversation .edit-menu .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 10px;
}
.conversation .edit-menu .row:hover{
  background-color: #424242;
}
.conversation .edit-menu .row:last-child {
  color: #f93a37;
}




.conversation .options {
  position: absolute;
  display: none;
  right: 4px;
  top: 0px;
  background-color: #212121;
  font-size: 18px;
  padding: 5px 5px;
  border-radius: 50%;
  color: grey;
}
.conversation:hover {
  cursor: pointer;
  background-color: #212121;
}
.conversation:hover .options {
  display: inline-block;
}


.sidebar footer {
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8px 8px;
  gap: 12px;
}

.sidebar footer:hover {
  background-color: #212121;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar footer p {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar footer span{
  font-size: 11px;
  color: grey;
}

.sidebar .icon {
    display: inline-block;
  
    border: 1px solid rgb(79, 79, 79);
    width: 30px;
    height: 30px;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

